<h1> Lodgings </h1>



<div class="manor-grounds flex-row">

<div class="first-rooms-column flex-column">

<div class="a-rooms flex-column">

  <div class="banquet-hall orient-center">
    <div class="center-text"> BANQUET HALL </div>
  </div>

  <%= @a_room.each_index do |idx| %>

    <div id="<%= idx+1 %>" ondrop="drop_handler(event);" ondragover="dragover_handler(event);" class="room-rectangle orient-center">
      <div class="center-text"> A<%= idx+1 %> </div>
    </div>

  <% end %>

</div>


<div class="c-rooms c-set1 flex-row">
  <div class="room-square orient-center">
    <div class="center-text"> C5 </div>
  </div>

  <div class="room-square orient-center">
    <div class="center-text"> C6 </div>
  </div>
</div>


<div class="c-rooms c-set2 flex-row">
  <div class="room-square orient-center">
    <div class="center-text"> C6 </div>
  </div>

  <div id="C7" ondrop="drop_handler(event);" ondragover="dragover_handler(event);" class="room-square orient-center">
    <div class="center-text"> C7 </div>
  </div>
</div>

</div>

<div class="second-rooms-column flex-column">

<div class="e-set flex-column">
  <div class="flex-row">
    <div class="room-square e-room orient-center">
      <div class="center-text"> E1 </div>
    </div>

    <div class="room-square e-room orient-center">
      <div class="center-text">  </div>
    </div>
  </div>

  <div class="flex-row">
    <div class="room-square e-room orient-center">
      <div class="center-text"> E2 </div>
    </div>

    <div class="room-square e-room orient-center">
      <div class="center-text"> E3 </div>
    </div>
  </div>
</div>

<div class="c-rooms c-set3 flex-column">
  <div class="room-square orient-center">
    <div class="center-text"> C12 </div>
  </div>

  <div class="room-square orient-center">
    <div class="center-text"> C11 </div>
  </div>
</div>

</div>

<div class="third-rooms-column flex-column">

<div class="c-set3 flex-row">
  <div class="flex-column">
    <div class="room-square c-set3__room orient-center">
      <div class="center-text"> C16 </div>
    </div>

    <div class="room-square c-set3__room orient-center">
      <div class="center-text"> C15 </div>
    </div>
  </div>

  <div class="flex-column">
    <div class="room-square c-set3__room orient-center">
      <div class="center-text"> C18 </div>
    </div>

    <div class="room-square c-set3__room orient-center">
      <div class="center-text"> C17 </div>
    </div>
  </div>

  <div class="flex-column">
    <div class="room-square c-set3__room orient-center">
      <div class="center-text"> C20 </div>
    </div>

    <div class="room-square c-set3__room orient-center">
      <div class="center-text"> C19 </div>
    </div>
  </div>

  <div class="flex-column">
    <div class="room-square c-set3__room orient-center">
      <div class="center-text"> C21 </div>
    </div>

    <div class="room-square c-set3__room orient-center">
      <div class="center-text"> C22 </div>
    </div>
  </div>

</div>

<div class="picnic-circle"> </div>


<div class="l-set flex-row">

  <div class="flex-column">
    <div class="room-square orient-center">
      <div class="center-text"> L23 </div>
    </div>

    <div class="room-square orient-center">
      <div class="center-text"> L24 </div>
    </div>

    <div class="room-square orient-center">
      <div class="center-text"> L25 </div>
    </div>

    <div class="room-square orient-center">
      <div class="center-text"> L26 </div>
    </div>
  </div>

  <div class="flex-column">
    <div class="room-square orient-center">
      <div class="center-text"> L27 </div>
    </div>

    <div class="room-square orient-center">
      <div class="center-text"> L28 </div>
    </div>

    <div class="room-square orient-center">
      <div class="center-text"> L29 </div>
    </div>

    <div class="room-square orient-center">
      <div class="center-text"> L30 </div>
    </div>
  </div>

</div>

</div>

</div>


<div class="guest-list">

  <p id="notice"><%= notice %></p>

  <h1>Guests</h1>

  <div class="flex-column">

    <% @guests.each do |guest| %>

      <span id='<%= guest.name%>' draggable="true" ondragstart="dragstart_handler(event);"  class="guest-name">
        <%= guest.name %>
      </span>

    <% end %>

  </div>

  <br>

  <%= link_to 'New Guest', new_guest_path %>
</div>
